.section1 {
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    height: 657px;
}

.navbar-nav {
    position: relative;
    left: 370PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.q1 {
    position: relative;
    top: 200px;
}

.p {
    font-size: 33px;
    font-family: italic;
}

.h {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
}

.b {
    background-color: rgb(231, 61, 61);
    font-weight: bold;
}


/*----------------- End section 1-----------------*/

.section2 .row .col-sm-12 i {
    font-size: 60px;
    color: rgb(231, 61, 61);
}

.head {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bol {
    font-weight: bold;
}


/*----------------- End section 2-----------------*/

.im {
    width: 360px;
    height: 250px;
    padding-bottom: 20px;
}

.he {
    font-weight: bold;
}


/*----------------- End section 3-----------------*/

.right {
    text-align: right;
}

.img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(232, 229, 235);
}


/*----------------- End section 4-----------------*/

.h4 {
    font-weight: bolder;
    font-size: 40px;
}

.img3 {
    height: 150px;
    width: 150px;
    border: 5px solid rgb(232, 229, 235);
}

.ca {
    font-weight: bolder;
}


/*----------------- End section 5-----------------*/


/*----------------- End section 6-----------------*/

.contact-us {
    background-image: url(../images/footer-background-img.png);
    background-size: cover;
}

.inputt {
    width: 100%;
}

.area {
    width: 100%;
}

.b2 {
    background-color: rgb(231, 61, 61);
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(232, 229, 235);
}


/*----------------- End section 7-----------------*/


/*----------------- all section-----------------*/

.bgg {
    background-color: rgb(247, 245, 242);
}


/*----------------- all section-----------------*/


/*----------------- Media Query-----------------*/

@media(max-width: 768px) {
    .p {
        font-size: 23px;
        font-family: italic;
    }
    .h {
        font-size: 45px;
    }
    /*----------------- End section 1-----------------*/
    .img {
        width: 150px;
        height: 150px;
    }
    .txt {
        font-size: 10px;
        text-align: left;
    }
    .right {
        position: relative;
        top: 170px;
    }
    .imgg {
        position: relative;
        bottom: -30px;
    }
    .txt2 {
        position: relative;
        top: 30px;
    }
    /*----------------- End section 4-----------------*/
    .links {
        width: 200px;
    }
    /*----------------- End section 6-----------------*/
}

@media (min-width: 600px) and (max-width: 1030px) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media (max-width: 600px) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}